<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>


<p>Session PIN: <span th:text="${randomPin}"></span></p>


<p>Players joined: <span th:text="${totalPlayers}"></span></p>


<form id="startGameForm" action="/gameHost" method="post">
    <span>Number of movies:</span>
    <input type="number" name="numberOfMovies" required min="1">
    <input type="hidden" name="sessionId" th:value="${randomPin}" />
    <button type="submit">Start game</button>
</form>


</body>
</html>