<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <style>
        /* Define a CSS class to control the image size */
        .image {
            max-height: 450px; /* Adjust the width as needed */
            max-width: 300px; /* Adjust the width as needed */
        }
    </style>
</head>
<body>
<div>
    <img class="image" th:src="${game.posterURL}">
</div>

<div>
    <p th:text="${game.title + ' (' + game.year + ')' }"></p>
</div>

<div>
    <form action="/game" method="post" style="display: inline-block;">
        <button type="submit" name="action" value="no">No</button>
    </form>
    <form action="/game" method="post" style="display: inline-block;">
        <button type="submit" name="action" value="yes">Yes</button>
    </form>
</div>
</body>
</html>