<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <style>
        /* Define a CSS class to control the image size */
        .image {
            max-height: 450px; /* Adjust the width as needed */
            max-width: 300px; /* Adjust the width as needed */
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div>
    <img class="image" th:src="${game.posterURL}">
</div>

<div>
    <p th:text="${game.title + ' (' + game.year + ')' }"></p>
</div>

<div>
    <form action="/game" method="post" style="display: inline-block;">
        <button type="submit" name="action" value="no">No</button>
    </form>
    <form action="/game" method="post" style="display: inline-block;">
        <button type="submit" name="action" value="yes">Yes</button>
    </form>
</div>


<form id="movieInfoForm" method="post">
    <button type="button" id="loadMovieInfo" data-movieid="${game.movieID}">More Info</button>
</form>

<p id="overview"></p>
<p id="length"></p>
<p id="rating"></p>

<script th:inline="javascript">
    $(document).ready(function () {
        $('#loadMovieInfo').click(function (event) {
            event.preventDefault();

            var movieID = /*[[${game.movieID}]]*/ '2';
            $.post('/getMovieInfo', { movieID: movieID }, function (data) {
                console.log(Object.keys(data));
                $('#overview').text('Overview: ' + data.overview);
                $('#length').text('Length: ' + data.length + ' min.');
                $('#rating').text('Rating: ' + data.rating);
            });
        });
    });
</script>

</body>
</html>