<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>




<div th:if="${user == null}">

<button onclick="playAsGuest()">Play as guest</button>
<button onclick="playAsUser()">Play as user</button>

</div>




<div th:if="${user != null}">

<button onclick="playAsGuest()">Play</button>
    <form th:action="@{/signOut}" method="post">
        <button type="submit">Sign Out</button>
    </form>
<button onclick="setMoviePreferences()">Set movie preferences</button>

    <form th:action="@{/allUserMovies}" method="post">
        <button type="submit">Voted movies</button>
    </form>

<p>Welcome, <span th:text="${user?.username}"></span>!</p>

<!-- Greet our admin -->
<p th:if="${user.isAdmin}">Hello admin</p>
<div th:if="${user.isAdmin}">
    <a th:href="@{/addmovie}">Add a Movie</a>
    <br/>
    <a th:href="@{/movies}">All Movies</a>
</div>




</div>

<script>
    function playAsGuest() {
        window.location.href = "joinOrCreateSession";
    }

    function playAsUser() {
        window.location.href = "login";
    }

    function signOut() {
        window.location.href = "login";
    }

    function setMoviePreferences() {
        window.location.href = "setMoviePreferences";
    }
</script>

</body>
</html>