<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<!--
<h1 th:text="${time}"></h1>
-->

<h1>All Movies</h1>
<table>
<tr th:each="movie: ${allMovies}">
    <td th:text="${movie.title}"></td>
    <td th:text="${movie.year}"></td>
    <td>
        <form th:action="@{'/delete/' + ${movie.ID}}" method="post">
            <button type="submit">Delete</button>
        </form>
    </td>
</tr>
</table>
<hr>
<a th:href="@{/addmovie}">Add a Movie</a>
</body>
</html>