<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Preference Movies</title>
    <style>
        /* Define a CSS class to control the image size */
        .table-image {
            max-width: 100px; /* Adjust the width as needed */
            max-height: 100px; /* Adjust the height as needed */
        }
    </style>
</head>
<body>

<h1>Preference movies</h1>

<table>
    <tr th:each="movie : ${results}">
        <td th:text="${movie.title} + ' (' + ${movie.year} + ')'"></td>
        <td> <img  class="table-image" alt="movieposter" th:src="${movie.imageURL}"></td>
    </tr>
</table>

</body>
</html>